<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565979623967-aui1obcu8a7gnfvp1nbcj200oiv7k1hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565979623967-aui1obcu8a7gnfvp1nbcj200oiv7k1hu</string>
	<key>API_KEY</key>
	<string>AIzaSyB0tMeJzAbwNG4_56imfIqNtjJK2Rgz28c</string>
	<key>GCM_SENDER_ID</key>
	<string>565979623967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>myproject-57d52</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-57d52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565979623967:ios:fb6b2d9d0c2d867d5d5b2a</string>
</dict>
</plist>